/* FONT FAMILY DES ÉCRITURE */
 .display-2, .display-3, .display-4, .display-5, .display-6, .display-7{
    font : small-caps bold 24px/1 Bahnschrift;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body, .display-1{
    font : small-caps bold 24px/1 Bahnschrift;
} 

/*LA TAILLE D'ÉCRITURE*/
.display-3{
    font-size: 30px;
}


/*LA BORDURE D'EN BAS POUR UNE SECTION*/
.border_orange{
    border-bottom: thick double #fb4c00;
}

/*DÉGRADÉ COULEUR*/
.degrade {
    background: -webkit-gradient(linear, left bottom, left top,  from(#ff6347), to(#feab20));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*font-family: cursive;*/
}

/*LES CADRES*/
.card-box{
    border: 3mm ridge #fb4c00;
    border-radius: 10%;
    padding: 20px;
}


.btn_orange, .btn_orange:hover, .btn_vert, .btn_vert:hover{
    color: #FFF;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


/*LES BOUTONS ORANGES*/
.btn_orange{
    background: radial-gradient(#ffc655, #f16e2c);
    border: 3px solid #a15020;
}
.btn_orange:hover{
    background: radial-gradient(#f16e2c, #f16e2c);
}

/*LES BOUTONS VERTS*/
.btn_vert{
    background: radial-gradient(#79F059, #27c403);
    border: 3px solid #1e8802;
}
.btn_vert:hover{
    background: radial-gradient(#27c403, #27c403);
}


/**/
.modal-body{
    height: 700px;
    overflow-x: auto;
}

.bdj, .colle{
    height: 900px;
}


/*LES ACTIONS SI LA FÊNETRE EST RÉDUIT POUR UNE LONGUEUR MAXIMUM DE 767px*/
@media (max-width:767px) {
    .display-3{
        font-size: 20px;
    }
}
